<div class="bg-white rounded-md">
  <div class="max-w-2xl mx-auto px-4 pb-24 py-8 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8">
    <!-- Details section -->
    <section aria-labelledby="details-heading">
      <div class="flex flex-col items-center text-center">
        <span id="details-heading" class="text-3xl font-extrabold tracking-tight text-slate-800 sm:text-4xl">
          Om Glasmästeriet Blyglasdesign Luleå AB
        </span>
        <p class="mt-3 max-w-3xl text-lg text-slate-600">
          Vi är ett certifierat glasmästeri som primärt arbetar med traditionellt
          glasarbete samt tillverkning av blyinfattat glas i olika mönster och färger på beställning till både privat
          och offentlig miljö. Vi har ett förhållandevis stort lager av glas som representerar olika tidsepoker och
          alltid ett antikvariskt tänkande vid montering.
        </p>
        <div class="">
          <p class="mt-3 max-w-3xl text-lg text-slate-600">
            Vi är certifierade fönsterspecialister som även arbetar med renovering av fönster.
          </p>
          <button routerLink="/blyglas/authorised" type="button"
            class="inline-flex items-center px-6 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-sky-800 hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
            Mer Information här
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-3 -mr-1 h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </button>
        </div>
      </div>

      <div class="mt-16 grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:gap-x-8">
        <div>
          <div class="w-full aspect-w-3 aspect-h-2 rounded-lg overflow-hidden">
            <img src="./assets/window1.jpeg"
              alt="Drawstring top with elastic loop closure and textured interior padding."
              class="w-full h-full object-center object-cover">
          </div>
          <p class="mt-8 text-base text-slate-500">
            Under sommaren 2015 har vi demonterat ned och renoverat samtliga 365 blyinfattningar i Gammelstads kyrka.
            Arbetet påbörjades i April och avslutades i September 2015.
          </p>
        </div>
        <div>
          <div class="w-full aspect-w-3 aspect-h-2 rounded-lg overflow-hidden">
            <img src="./assets/window2.jpeg" alt="Front zipper pouch with included key ring."
              class="w-full h-full object-center object-cover">
          </div>
          <p class="mt-8 text-base text-slate-500">Blyinfattning av ett av 365 fönster från Gammelstads kyrka</p>
        </div>
      </div>
    </section>
  </div>
</div>