<div class="chatBubble">
  <div class="rounded-full bg-sky-50 p-4 cursor-pointer hover:bg-sky-100" [ngClass]="visible ? 'hidden' : 'block'"
    (click)="visible = !visible">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 stroke-emerald-500" viewBox="0 0 24 24" stroke-width="1.5"
      fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
      <path d="M15 7a2 2 0 0 1 2 2" />
      <path d="M15 3a6 6 0 0 1 6 6" />
    </svg>
  </div>
  <div class="my-5 bg-sky-50 rounded-md" [ngClass]="visible ? 'block' : 'hidden'">
    <div class="w-full flex justify-between items-center bg-emerald-500 text-white rounded-t-md">
      <div class="ml-2">
        <span class="">
          Frågor?
        </span>
      </div>
      <button (click)="visible = !visible">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-white mr-px" viewBox="0 0 24 24" stroke-width="1.5"
          fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <rect x="4" y="4" width="16" height="16" rx="2" />
          <path d="M10 10l4 4m0 -4l-4 4" />
        </svg>
      </button>
    </div>

    <div class="w-full text-sm p-3">
      <span>
        Vänligen kontakta oss om ni har några frågor <br> eller vill ha en offert:
      </span>
      <mat-list>
        <mat-list-item>
          <mat-icon class="text-emerald-500" mat-list-icon>phone_in_talk</mat-icon>
          <div mat-line><a href="tel:+46703315504">070-3315504</a></div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon class="text-emerald-500" mat-list-icon>alternate_email</mat-icon>
          <div mat-line><a href="mailto:blyglasdesign@gmail.com">blyglasdesign@gmail.com</a></div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon class="text-emerald-500" mat-list-icon>home</mat-icon>
          <div mat-line>
            Sandnäset 61
          </div>
          <div mat-line>
            97594 Luleå
          </div>
          <div mat-line>
            Sweden
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="text-emerald-500" mat-list-icon>schedule</mat-icon>
          <div mat-line>Ring innan besök</div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>